{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <title></title>
</head>

<body>
  <div class="container">
    <div class="header">
      <a href="{% url 'post_list' %}" id="site_name_second">
        <h1>IvoShet</h1>
      </a>
      <p>дорога в будущее начинается сейчас!</p>
    </div>
    <div class="menu">
      <div>
        <a href="{% url 'post_list' %}">
          главная...
        </a>
      </div>
      <div>
        <a href="{% url 'post_new' %}">
          напиши мне...
        </a>
      </div>
      <div>
        <a href="{% url 'post_draft_list' %}">
          черновики...
        </a>
      </div>
    </div>
    <hr class="new_hr">
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
