{% extends 'blog/base.html' %}

{% block content %}
{% if post.published_date %}
<div class="post_detail">
  <div>
    {{ post.published_date }}
  </div>
{% endif %}
  <div>
    <h2 id="site_name">{{ post.title }}</h2>
    <p>{{ post.text | linebreaksbr }}</p>
  </div>
  <div class="menu">
    <div class="first">
      <a href="{% url 'post_edit' pk=post.pk %}">редактировать...</a>
    </div>
    <div>
      <a href="{% url 'post_remove' pk=post.pk %}">удалить...</a>
    </div>
      {% if post.published_date%}
      {% else %}
      <div>
        <a href="{% url 'post_publish' pk=post.pk %}">публиковать...</a>
      </div>
      {% endif %}
  </div>
</div>
{% endblock %}
