a {
    text-decoration: none !important;
    color: red !important;
}
a:hover {
    color: blue !important;
    text-decoration: none !important
}
#site_name {
    color: red;
    font-family: 'Pacifico', cursive;
}
#large_el {
    font-size: 1em;
}
.new_hr {
    border-top: 2px solid red;
}
#site_name_second {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}
